[toolchain]

[features]
resolution = true
skip-lint = false

[programs.devnet]
invoice_claim = "CwD9tU4A7c7SS5b55ZtTcEPGA8svJQUhfdCbdoaSF1Tx"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
bootstrap = "npx ts-node -P ./tsconfig.json scripts/bootstrap.ts"
submit = "npx ts-node -P ./tsconfig.json scripts/submit_request.ts"
request-vrf = "npx ts-node -P ./tsconfig.json scripts/request_vrf.ts"
